.shopping-cart {
  width: 26% !important;
  min-width: 300px;
  height: 65%;
  background-color: whitesmoke;
  position: absolute;
  left: 72%;
  top: 10%;
}
h2 {
  /* background-color: lightgray; */
  padding: 5px 15px;
  /* display: flex;
  flex: 0 0 auto; */
}
.shopping-cart-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  max-height: 550px;
}

.cart-list {
  overflow-y: scroll;
  padding-left: 15px;
}
ul {
  padding-left: 0;
}

.cart-summary {
  padding: 20px 20px 0px 20px;
}

h2,
.subtotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
}

/* cartItem css */
.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin: 0px, 25px; */
  /* height: 150px; */
}
.cart-item img {
  width: 110px;
}

.product-info {
  display: flex;
  flex-direction: column;
}
#discount {
  width: 100px;
  height: 25px;
}

@media (max-width: 820px) {
  .shopping-cart {
    min-width: 300px;
    height: 500px;
    background-color: whitesmoke;
    position: absolute;
    left: 30%;
    top: 10%;
  }
}
