.header {
  flex: 0 0 auto;
}

.header-container {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 64px;
  height: auto;
  width: 100%;
  background: #111827;
  flex-shrink: 0;
}
#management {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
#M,
#Mgt {
  font-size: 25px;
}
#Mgt {
  padding-right: 15px;
  margin-bottom: 10px;
}
.search-bar {
  color: black;
}

input {
  width: 350px;
  height: 38px;
}

.total-amount {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  /* justify-content: space-evenly;
  padding-top: 15px; */
}

#cartQty {
  background-color: red;
  width: 25px;
  text-align: center;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .error-boundary {
    text-align: center;
  }
}

@media (max-width: 820px) {
  .header-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 15px;
    color: white;
    flex: 0 0 auto;
    height: 121px;
    gap: 0px;
    justify-content: center;
    /* align-items: flex-start; */
  }
  .total-amount {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-left: 240px;
    margin-top: -45px;
    position: fixed;
  }
  .signin-button {
    margin-left: 120px;
    margin-top: -45px;
    position: fixed;
  }

  #M {
    margin-bottom: 5px;
    margin-left: -175px;
    font-weight: 800;
  }
}
