.header-container {
  color: white;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 112px;
  padding: 8px 64px;
  height: auto;
  width: 100%;
  background: #111827;
}
#management {
  font-size: 30px;
  color: white;
}

input {
  width: 350px;
  height: 38px;
}

/* .header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.total-amount {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  /* justify-content: space-evenly;
  padding-top: 15px; */
}

#cartQty {
  background-color: red;
  border-radius: 50%;
  padding-right: 5px;
}

@media (max-width: 768px) {
  .error-boundary {
    text-align: center;
  }
}

@media (max-width: 1140px) {
  .header-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 15px;
    color: white;
    flex: 0 0 auto;
    height: 121px;
    gap: 0px;
    justify-content: center;
    align-items: flex-start;
  }
}
