.create-product {
  flex: 1 0 auto;
  background-color: white;
  width: 60%;
  height: auto;
  margin: auto;
  padding: 15px 55px;
  font-family: sans-serif;
  font-weight: bold;
}

@media (max-width: 820px) {
  .create-product {
    width: 80%;
  }
}
