footer {
  color: white;
  background-color: #111827;
  display: flex;
  padding: 15px 50px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.social-media {
  font-size: large;
}

.footer-links a {
  padding-right: 10px;
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
  }
}
